# Python
__pycache__/
*.py[cod]
*.env
.env
.env.local
.venv/
venv/

# Node / React
node_modules/
frontend/node_modules/
build/
frontend/build/
.DS_Store

# Azure Functions
api/__pycache__/
local.settings.json

# VS Code
.vscode/settings.json

# Sensitive
*.pem
*.key